.custom-swal-popup {
    background-color: #1BAA64; /* Custom background color */
    color: #fff; /* Custom text color */
    border-radius: 10px; /* Custom border radius */
    padding: 20px;   /* Custom padding */
  }
  
  .custom-swal-title {
    color: #fff; /* Customize title color */
  }
  
  .custom-swal-icon {
    color: #fff; /* Customize icon color */
  }
  